.idea
__pycache__
logs/
checkpoints/
/data/
RetroClassifier/
samples/
/models/
ckpt_classifier/
onmt/
OpenNMT_py.egg-info/
round_samples/



# Uni-rxn .gitignore setting
# Ignore all .pkl files
*.pkl

# Except xxx.pkl, which we want to track
!data/selfies_vocab.pkl
!data/react_lib_smi.pkl

# Ignore Python compiled files and directories
__pycache__/
*.py[cod]

# Ignore checkpoint files
*.ckpt

*.pt